body {
    font-family: Arial, sans-serif;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #bb6f6f;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(141, 74, 74, 0.1);
    width: 500px;
    height: 500px;
    text-align: center;
    opacity: 0.9;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}
/* Form Group */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Labels */
.form-group label {
    margin-bottom: 5px; /* Adds spacing between label and input */
    font-weight: bold;
}

/* Inputs and Textarea */
.form-group input, 
.form-group textarea {
    width: 100%; /* Ensures the input fills the available space */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box; /* Prevents padding from affecting width */
}

/* Submit Button */
#submitButton {
    padding: 12px 20px;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:300px;
    margin-left: 90px;
}

#submitButton:hover {
    background-color: darkviolet;
}

.message {
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 14px;
}

.padding-between {
    padding: 5px;
}